body{
    background-color: black;
    overflow: hidden;
}

.content{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.menu{
    filter: invert(100%) saturate(1%);
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 55px;
    background-color: rgb(255, 255, 255);
}

.vids{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 70vw;
}

.video {
    max-width: 150vw;
    max-height: 150vh;
}

.button{
    border: none;
    background-color: white;
}
